<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Zakir Hossain Homepage</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        @*Navigation Bar Start*@
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a href="" class="navbar-brand">ZakirDev</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarid">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/Home/Portfolio" class="nav-link">Portfolio</a>
                            @*<a href="/Home/Portfolio" class="nav-link dropdown-toggle" data-toggle="dropdown">Portfolio</a>*@
                            @*<ul class="dropdown-menu text-center">
                <li class="dropdown-header"> Web Development</li>
                <li><a href="#" class="dropdown-item">Link 1</a></li>
                <li><a href="#" class="dropdown-item">Link 2</a></li>
                <li><a href="#" class="dropdown-item">Link 3</a></li>

                <li class="dropdown-header"> App Development</li>
                <li><a href="#" class="dropdown-item">Link 1</a></li>
                <li><a href="#" class="dropdown-item">Link 2</a></li>
                <li><a href="#" class="dropdown-item">Link 3</a></li>
            </ul>*@

                        <li class="nav-item">
                            <a href="/Home/About" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Contact" class="nav-link">Contact</a>
                        </li>


                    </ul>

                </div>

            </div>
        </nav>
        @*Navigation Bar End*@

        @*Jumbotron Start*@
        <div class="jumbotron">
            <div class="container">
                <h1 class="text-center">Welcome</h1>
                <h3 class="text-center">I am Zakir Hossain</h3>
                <h2 class="text-center"><a href="#" class="btn btn-warning">Start Now</a></h2>
            </div>

        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        @*Jumbotron End*@

    </header>

    <main role="main">
        <div>
            @RenderBody()
        </div>
    </main>

    @*Footer Start*@
    <footer class="border-top  text-center" >
        <div class="container">
            Copyright &copy; Zakir Hossain @DateTime.Now.Year
        </div>
    </footer>
    @*Footer End*@ 



    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>

</html>
