<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewData["Title"] | Bookstore</title>
    
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/9.5.0/css/bootstrap.min.css" 
                           integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
                           crossorigin="anonymous"
                           asp-fallback-test-class="sr-only"
                           asp-fallback-test-property="position"
                           asp-fallback-test-value="absolute"
                           asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    </environment>

</head>
<body>
    <header>
        @*Navigation Bar Start*@
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a href="" class="navbar-brand">ZakirDev</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarid">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/Home/Portfolio" class="nav-link">Portfolio</a>
                            @*<a href="/Home/Portfolio" class="nav-link dropdown-toggle" data-toggle="dropdown">Portfolio</a>*@
                            @*<ul class="dropdown-menu text-center">
                <li class="dropdown-header"> Web Development</li>
                <li><a href="#" class="dropdown-item">Link 1</a></li>
                <li><a href="#" class="dropdown-item">Link 2</a></li>
                <li><a href="#" class="dropdown-item">Link 3</a></li>

                <li class="dropdown-header"> App Development</li>
                <li><a href="#" class="dropdown-item">Link 1</a></li>
                <li><a href="#" class="dropdown-item">Link 2</a></li>
                <li><a href="#" class="dropdown-item">Link 3</a></li>
            </ul>*@

                        <li class="nav-item">
                            <a asp-route="myRoute" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Book" asp-action="GetAllBooks" class="nav-link">Bookstore</a>
                        </li>
                        <li class="nav-item">
                            <a asp-protocol="https" asp-host="www.zakirdev.com" class="nav-link">Website</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Book" asp-action="AddNewBook" class="nav-link">Add Book</a>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>
        @*Navigation Bar End*@
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>

    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    </environment>

</body>
</html>
