<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZakirDev</title>
    <environment include="Development">
        <link href="http://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.css"
              rel="stylesheet" />

    </environment>

    <environment exclude="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>


    

</head>
<body>
    <header>
        @*Navigation Bar Start*@
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <a href="" class="navbar-brand">

                    <img src="~/images/Logo.png" height="30" width="30" asp-append-version="true"  />
                    
                    ZakirDev
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarid">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/Home/Portfolio" class="nav-link">Portfolio</a>
                            @*<a href="/Home/Portfolio" class="nav-link dropdown-toggle" data-toggle="dropdown">Portfolio</a>*@
                            @*<ul class="dropdown-menu text-center">
                                    <li class="dropdown-header"> Web Development</li>
                                    <li><a href="#" class="dropdown-item">Link 1</a></li>
                                    <li><a href="#" class="dropdown-item">Link 2</a></li>
                                    <li><a href="#" class="dropdown-item">Link 3</a></li>

                                    <li class="dropdown-header"> App Development</li>
                                    <li><a href="#" class="dropdown-item">Link 1</a></li>
                                    <li><a href="#" class="dropdown-item">Link 2</a></li>
                                    <li><a href="#" class="dropdown-item">Link 3</a></li>
                                </ul>*@

                        <li class="nav-item">
                            <a href="/Home/About" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Contact" class="nav-link">Contact</a>
                        </li>


                    </ul>

                </div>

            </div>
        </nav>
        @*Navigation Bar End*@
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
