

<h1>@ViewData["Roll"]</h1>
<h1>@ViewData["Name"]</h1>
@{ 
    var data = ViewData["Book"] as Book;
}
<h1>@data.Id</h1>
<h1>@data.Category</h1>

@section home{ 

<script>
    $(document).ready(function () {
        alert("Welcome and Alert!");
    })
</script>

}

