
<div class="jumbotron img-jumbo ">
    <div class="container">
        <h1 class="text-center">Welcome</h1>
        <h3 class="text-center">I am Zakir Hossain</h3>
        <h2 class="text-center"><button class="btn btn-warning">Start</button></h2>
    </div>
</div>


@section HomePage{

    <script>
        $(document).ready(function () {
            alert("Site is ready!");
        })
    </script>

}
