<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment exclude="Development">
        <link href="http://www.bootstrapCDN.com"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              rel="stylesheet" />
    </environment>

    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        @*Navigation Bar Start*@
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a href="" class="navbar-brand">ZakirDev</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarid">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/Home/Portfolio" class="nav-link">Portfolio</a>
                            @*<a href="/Home/Portfolio" class="nav-link dropdown-toggle" data-toggle="dropdown">Portfolio</a>*@
                            @*<ul class="dropdown-menu text-center">
                <li class="dropdown-header"> Web Development</li>
                <li><a href="#" class="dropdown-item">Link 1</a></li>
                <li><a href="#" class="dropdown-item">Link 2</a></li>
                <li><a href="#" class="dropdown-item">Link 3</a></li>

                <li class="dropdown-header"> App Development</li>
                <li><a href="#" class="dropdown-item">Link 1</a></li>
                <li><a href="#" class="dropdown-item">Link 2</a></li>
                <li><a href="#" class="dropdown-item">Link 3</a></li>
            </ul>*@

                        <li class="nav-item">
                            <a href="/Home/About" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Contact" class="nav-link">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Book" asp-action="ShowBooks" class="nav-link">BookStore</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Book" asp-action="AddNewBook" class="nav-link">AddBook</a>
                        </li>


                    </ul>

                </div>

            </div>
        </nav>
        @*Navigation Bar End*@
    </header>

  <main role="main">
      @RenderBody()
  </main>

  <environment exclude="Development">
      <script src="~/lib/jquery/jquery.min.js"></script>
      <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
      <script src="~/lib/jquery.validate.min.js"></script>
      <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
  </environment>

  <environment include="Development">
      <script src="~/lib/jquery/jquery.js"></script>
      <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
      <script src="~/lib/jquery.validate.js"></script>
      <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
  </environment>
</body>
</html>
