<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment exclude="Developer">
        <link href="http://bootstrapCDN.com" 
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              rel="stylesheet" />
    </environment>

    <environment include="Developer">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        @*Navigation Bar Start*@
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a href="" class="navbar-brand">ZakirDev</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-center" id="navbarid">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a asp-controller="Book" asp-action="GetAllBooks" class="nav-link">BookStore</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Book" asp-action="AddNewBook" class="nav-link">AddNewBook</a>
                        </li>


                    </ul>

                </div>

            </div>
        </nav>
        @*Navigation Bar End*@
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    </environment>
</body>
</html>
