
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/MyLogo.png" class="logo" alt="logo"/>
    <img src="../../ExtraImages/hello.png" />
</body>
</html>