
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card shadow-sm">

                <img src="~/images/zakir.jpg" class="card-img" />
                <div class="card-body">
                    <h4 class="card-title text-center">Zakir Hossain</h4>
                    <p class="card-text text-center">Full-Stack Developer</p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card">

                <img src="~/images/Pranto.jpg" class="card-img" />
                <div class="card-body">
                    <h4 class="card-title text-center">Zubayer Al Mamun</h4>
                    <p class="card-text text-center">SEO/Data Analyst</p>
                </div>
            </div>

        </div>


        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card">

                <img src="~/images/Limon.jpg" class="card-img" />
                <div class="card-body">
                    <h4 class="card-title text-center">Azizul Hakim</h4>
                    <p class="card-text text-center">Database Designer</p>
                </div>
            </div>
        </div>


    </div>
</div> <br /><br /><br />

