
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

@section AboutPage{
    <script>
        $(document).ready(function () {
            alert("From About Page");
        })
    </script>
 }

