
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@section IndexQuery{ 

<script>
    $(document).ready(function () {
        alert("Everything is Ok");
    })
</script>

}

