
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Card Start*@
<div class="container ">

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card shadow-sm">


                <img src="~/images/01.jpg" class="card-img" />
                <div class="card-body">
                    <h4 class="card-title text-center">Title</h4>
                    <p class="card-text text-center">Description</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <p class="text-left"><button class="btn btn-warning">Buy Now</button></p>
                        </div>
                        <div class="col-6">
                            <p class="text-right">Author</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />
<br />
@*Card End*@